{% extends 'Index.html' %}

{% block content %}
    <h1> "Добро пожаловать на {{ domain }}"</h1>


    <h6>It's T4 framework!</h6>

<h8>buld - {{build}}

    <form action="/upload/" enctype="multipart/form-data" method="post">
        <input type="file" name="image">
        <button type="submit"> Загрузить </button>
    </form>

    <hr>


    <hr>
    <!--{% for img in allImgFromStorage %}-->
        <!--<img src='/storage/{{img}}' alt=''>-->
    <!--{% endfor %}-->

    "Имя :" {{ name }}
    "Отчество :" {{ patronymic }}
    "Фамилия :" {{ last_name }}



{% endblock %}